<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<html>
    <header>    
        <title>Assinar Documento</title>
    </header>
    <body>

    <div id="fileForm" class='d-flex justify-content-center' style='margin-top: 50px'>
        <form method="POST" action="/polls/assinar/form/">
            <h1>Assinatura Digital</h1>
            <h4>Assinar</h4>           
            <div class="mb-3">
                <label for="myfile" class="form-label">Arquivo:</label>
                <!-- <input type="input" class="form-control" id="myfile" name="myfile">-->
                <input type="file" class="form-control" id="myfile" name="myfile"> 
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Nome do seu Usuário:</label>
                <input type="input" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="chavePrivada" class="form-label">Chave Privada (.pem):</label>
                <input type="file" class="form-control" id="chavePrivada" name="chavePrivada">
            </div>
            <button style="width: 48%" type="button" class="btn btn-danger btn-block" onclick="location.href='/polls/';">Voltar</button>
            <button style="width: 50%" type="submit" class="btn btn-primary btn-block">Assinar</button>
        </form>
    </div>
    </body>
</html>